<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- googlefont -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../app.css" />
        <link
            rel="shortcut icon"
            type="image/jpg"
            href="./images/favicon.svg"
        />
        <title>Frontend Jobs</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/"
                    ><span
                        ><img
                            id="logo"
                            src="../images/icon.svg"
                            alt=""
                            aria-hidden="true" /></span
                    >Frontend Jobs</a
                >
            </nav>
        </header>

        <main class="wrapper">
            <section id="hero">
                <h1>
                    Best <span class="primaryColor">Dev</span> Jobs in the World
                </h1>
                <form action="/search" id="searchForm" method="POST">
                    <input
                        type="text"
                        placeholder="Search a job"
                        name="search"
                        id="search"
                        value=""
                        required
                    />
                    <select name="country" id="country">
                        <option value="">--Which country?--</option>
                        <option value="gb">UK</option>
                        <option value="us">US</option>
                        <option value="fr">France</option>
                        <option value="es">Spain</option>
                        <option value="Other">Other</option>
                    </select>
                    <button id="go">Search</button>
                </form>
            </section>
            <section id="jobs">
                <% data.forEach(job=>{ %>
                <article class="jobPost">
                    <div class="jobHeading">
                        <img
                            class="jobLogo"
                            src="../images/free-logoa.png"
                            alt="Company Logo"
                        />
                        <div class="jobText">
                            <h2 class="jobTitle"><%= job.title %></h2>
                            <h4><%= job.company.display_name %></h4>
                        </div>
                    </div>
                    <div class="jobContent">
                        <p class="description">
                            <%= job.description.slice(0, 160) + "..." %>
                        </p>
                    </div>
                    <div class="jobSalary">
                        <div>
                            <img
                                src="/images/baseline-location-on.svg"
                                alt="Location icon"
                            />
                            <p class="location">
                                <%= job.location.display_name %>
                            </p>
                        </div>
                        <div>
                            <img
                                class="icon"
                                src="../images/icons8-coins-48.png"
                                alt="Dollar Icon"
                            />
                            <p>
                                <% if (!(job.salary_max && job.salary_min)) { %>
                                Unavailable <% } else if (job.salary_max ===
                                job.salary_min) { %>
                                <%=Math.round(job.salary_min/1000)%>k <% } else
                                {%> <%= Math.round(job.salary_min/1000) %>k-<%=
                                Math.round(job.salary_max/1000) %>k <% } %>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a
                            class="jobFooter"
                            href="<%= job.redirect_url %>"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Apply
                        </a>
                    </div>
                </article>
                <% }) %>
            </section>
        </main>
        <footer class="wrapper"></footer>
        <script src="./script.js"></script>
    </body>
</html>
